@*

*@
@{
    ViewBag.title = "All about Kyle";
}
<div class="dadiv">
    <h1>Kyle Andelin</h1>
    <img src="img/sleep.JPG" />
    <p><i>I love to sleeeeep</i></p>
    i dont like school
    <p>
        I program at work in c#, which is nice, but I have no clue how I would go about setting up my own project.
        What I would like to learn is how to setup my own projects rather
        than only interact with an existing code base like I do at work.
    </p>

    Top Three Jobs I am interested in:
    <ul>
        <li>Full stack developer</li>
        <li>Entrepreneur</li>
        <li>Machine Learning Engineer</li>
        <li>BONUS! Trust fund baby (comeon mom & dad!)</li>
    </ul>

    

</div>